Repository bounswe/bounswe2019group5, pull requests merged in 2019-11, with the labels that each got.

#178 Exercise
  .travis.yml
  backend/Dockerfile
  backend/api/admin.py
  backend/api/filters/__init__.py
  backend/api/filters/exercise.py
  backend/api/filters/user.py
  backend/api/models/__init__.py
  backend/api/models/exam.py
  backend/api/models/exercise.py
  backend/api/models/question.py
  backend/api/models/user.py
  backend/api/serializers/__init__.py
  backend/api/serializers/exam.py
  backend/api/serializers/exercise.py
  backend/api/serializers/language.py
  backend/api/serializers/user.py
  backend/api/test/test_user.py
  backend/api/urls.py
  backend/api/views/__init__.py
  backend/api/views/exam.py
  backend/api/views/exercise.py
  backend/api/views/user.py
  backend/backend/settings.py
  backend/docker-compose.yml
  backend/requirements.txt
Labels: Backend, Status: In Progress, Type: Design

#186 chat model added
  backend/api/admin.py
  backend/api/filters/__init__.py
  backend/api/filters/message.py
  backend/api/models/__init__.py
  backend/api/models/message.py
  backend/api/serializers/__init__.py
  backend/api/serializers/message.py
  backend/api/urls.py
  backend/api/views/__init__.py
  backend/api/views/message.py
Labels: Backend, Status: In Progress, Type: Design

#187 /search/ endpoint added
  backend/api/filters/__init__.py
  backend/api/filters/search.py
  backend/api/models/exercise.py
  backend/api/urls.py
  backend/api/views/__init__.py
  backend/api/views/search.py
Labels: Backend, Status: Review Needed, Type: Design

#189 message and search bugs are fixed
  backend/api/admin.py
  backend/api/filters/search.py
  backend/api/models/__init__.py
  backend/api/models/exercise.py
  backend/api/schemas.py
  backend/api/serializers/__init__.py
  backend/api/serializers/exercise.py
  backend/api/serializers/message.py
  backend/api/test/test_exam.py
  backend/api/urls.py
  backend/api/views/__init__.py
  backend/api/views/exercise.py
  backend/api/views/search.py
Labels: Backend, Bug Fix, Status: Review Needed, Type: Design

#208 Issue 207 - Updated the server address and API endpoint paths
  languageLearning/app/src/main/java/com/example/languageLearning/Exercise.java
  languageLearning/app/src/main/java/com/example/languageLearning/LoginActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MyApplication.java
  languageLearning/app/src/main/java/com/example/languageLearning/ProfExamActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/Question.java
  languageLearning/app/src/main/java/com/example/languageLearning/RegisterActivity.java
Labels: Android, Bug Fix

#213 writing exercise endpoints
  backend/.gitignore
  backend/api/admin.py
  backend/api/models/__init__.py
  backend/api/models/exercise.py
  backend/api/serializers/__init__.py
  backend/api/serializers/exercise.py
  backend/api/urls.py
  backend/api/views/__init__.py
  backend/api/views/exercise.py
  backend/backend/settings.py
  backend/backend/urls.py
  backend/docker-compose.yml
Labels: Backend, Status: In Progress, Type: Design

#214 test cases of message added.
  backend/api/test/test_message.py
  backend/api/views/message.py
Labels: Backend, Status: Completed, Type: Test

#215 annotation endpoints
  backend/api/models/__init__.py
  backend/api/models/annotation.py
  backend/api/serializers/__init__.py
  backend/api/serializers/annotation.py
  backend/api/urls.py
  backend/api/views/__init__.py
  backend/api/views/annotation.py
  backend/api/views/exercise.py
Labels: Backend, Status: In Progress, Type: Design

#220 created listening endpoints
  backend/.gitignore
  backend/api/admin.py
  backend/api/models/exercise.py
  backend/api/models/question.py
  backend/api/serializers/question.py
  backend/api/test/__init__.py
  backend/api/test/test_exam.py
  backend/docker-compose.yml
Labels: Backend, Status: Completed, Type: Design

#229 annotation source filter added and retrieve is removed
  backend/api/filters/__init__.py
  backend/api/filters/annotation.py
  backend/api/views/annotation.py
Labels: Backend, Status: Completed, Type: Design

#226 Android issue198 random exercise
  languageLearning/app/src/main/java/com/example/languageLearning/MainMenuActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MyApplication.java
  languageLearning/app/src/main/res/drawable/grammar.png
  languageLearning/app/src/main/res/drawable/reading.png
  languageLearning/app/src/main/res/drawable/vocab.png
  languageLearning/app/src/main/res/layout/activity_main_menu.xml
  languageLearning/app/src/main/res/layout/select_exercise_type_popup.xml
Labels: Android, New Feature, Priority: High, Status: Review Needed

#231 created exercise suggestions
  backend/api/admin.py
  backend/api/models/exercise.py
  backend/api/models/question.py
  backend/api/schemas.py
  backend/api/serializers/exercise.py
  backend/api/serializers/question.py
  backend/api/urls.py
  backend/api/views/exercise.py
  backend/api/views/search.py
Labels: Backend, Status: Completed, Type: Design

#236 essay endpoint update
  backend/api/models/exercise.py
  backend/api/schemas.py
  backend/api/serializers/exercise.py
  backend/api/views/exercise.py
Labels: Backend, Status: In Progress, Type: Design

#238 get method added to result endpoint in order to tracking progress
  backend/api/filters/__init__.py
  backend/api/filters/exercise.py
  backend/api/serializers/exercise.py
  backend/api/views/exercise.py
Labels: Backend, Status: Completed, Type: Design

#239 rating functionality added to recommendation endpoint
  backend/api/filters/__init__.py
  backend/api/filters/user.py
  backend/api/models/comment.py
  backend/api/serializers/comment.py
  backend/api/serializers/exercise.py
  backend/api/urls.py
  backend/api/views/user.py
Labels: Backend, Bug Fix, Status: In Progress, Type: Design

#246 Android issue193 profile conn
  languageLearning/app/src/main/java/com/example/languageLearning/ProfilePage.java
Labels: Android, Priority: Medium, Status: Completed

#230 Android issue222 essay upload
  languageLearning/app/build.gradle
  languageLearning/app/src/main/AndroidManifest.xml
  languageLearning/app/src/main/java/com/example/languageLearning/MainMenuActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MyApplication.java
  languageLearning/app/src/main/java/com/example/languageLearning/NewEssayActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/UploadEssayActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/WriteNewEssayActivity.java
  languageLearning/app/src/main/res/drawable/essay.png
  languageLearning/app/src/main/res/drawable/ic_check_circle_black_24dp.xml
  languageLearning/app/src/main/res/drawable/upload.jpeg
  languageLearning/app/src/main/res/layout/activity_main_menu.xml
  languageLearning/app/src/main/res/layout/activity_new_essay.xml
  languageLearning/app/src/main/res/layout/activity_upload_essay.xml
  languageLearning/app/src/main/res/layout/activity_write_new_essay.xml
Labels: Android

#240 Recommendation frontend
  frontend/src/api/recommendation/index.js
  frontend/src/containers/app/index.js
  frontend/src/containers/recommendation/index.js
  frontend/src/redux/action-creators/recommendation.js
  frontend/src/redux/actions.js
  frontend/src/redux/reducers/index.js
  frontend/src/redux/reducers/recommendation.js
Labels: Frontend, New Feature, Priority: Medium, Status: Review Needed

#253 Android issue223 list essays
  languageLearning/app/src/main/AndroidManifest.xml
  languageLearning/app/src/main/java/com/example/languageLearning/Essay.java
  languageLearning/app/src/main/java/com/example/languageLearning/EssayAdapter.java
  languageLearning/app/src/main/java/com/example/languageLearning/ListEssaysActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/ListEssaysTestActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/NewEssayActivity.java
  languageLearning/app/src/main/res/drawable/my_essays.png
  languageLearning/app/src/main/res/layout/activity_list_essays.xml
  languageLearning/app/src/main/res/layout/activity_main_menu.xml
  languageLearning/app/src/main/res/layout/activity_new_essay.xml
  languageLearning/app/src/main/res/layout/essay_element.xml
Labels: Android, New Feature, Status: Review Needed

#262 advanced user search added
  backend/api/filters/user.py
  backend/api/urls.py
  backend/api/views/user.py
Labels: Backend, New Feature, Status: Completed

#244 Android issue243 chat new message
  languageLearning/app/src/main/AndroidManifest.xml
  languageLearning/app/src/main/java/com/example/languageLearning/ChatNewMessageActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MainMenuActivity.java
  languageLearning/app/src/main/res/drawable/ic_chat_black_24dp.xml
  languageLearning/app/src/main/res/layout/activity_chat_new_message.xml
  languageLearning/app/src/main/res/layout/activity_main_menu.xml
Labels: Android, New Feature, Priority: Medium

#252 Android issue194 search page
  languageLearning/app/src/main/AndroidManifest.xml
  languageLearning/app/src/main/java/com/example/languageLearning/Exercise.java
  languageLearning/app/src/main/java/com/example/languageLearning/ExerciseActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/Question.java
  languageLearning/app/src/main/java/com/example/languageLearning/RegisterActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/SearchActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/SearchResultActivity.java
  languageLearning/app/src/main/res/layout/activity_exercise.xml
  languageLearning/app/src/main/res/layout/activity_search.xml
  languageLearning/app/src/main/res/layout/activity_search_result.xml
  languageLearning/app/src/main/res/layout/row.xml
  languageLearning/app/src/main/res/values/strings.xml
Labels: Android, New Feature, Priority: High, Status: Revision Needed

#263 Android issue259 essay rejection
  languageLearning/app/src/main/AndroidManifest.xml
  languageLearning/app/src/main/java/com/example/languageLearning/Essay.java
  languageLearning/app/src/main/java/com/example/languageLearning/ImageEssayDetailActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/NewEssayActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/SelectEssayReviewerActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/TextEssayDetailActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/UploadEssayActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/UserProfile.java
  languageLearning/app/src/main/java/com/example/languageLearning/WriteNewEssayActivity.java
  languageLearning/app/src/main/res/layout/activity_image_essay_detail.xml
  languageLearning/app/src/main/res/layout/activity_select_essay_reviewer.xml
  languageLearning/app/src/main/res/layout/activity_text_essay_detail.xml
  languageLearning/app/src/main/res/layout/essay_reviewer_list_item.xml
Labels: Android

#255 alternative listening to base64
  backend/api/admin.py
  backend/api/models/question.py
  backend/api/serializers/question.py
  backend/api/urls.py
  backend/api/views/exercise.py
Labels: Backend, Deployment, Status: Review Needed

#267 Android issue247 main menu connection
  languageLearning/app/src/main/java/com/example/languageLearning/MainMenuActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/RegisterActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/SearchActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/SearchResultActivity.java
  languageLearning/app/src/main/res/drawable/search_button.xml
  languageLearning/app/src/main/res/layout/activity_main_menu.xml
  languageLearning/app/src/main/res/values/strings.xml
Labels: Android, Deployment, New Feature

#272 The code now correctly converts ratios by 100
  languageLearning/app/src/main/java/com/example/languageLearning/ImageEssayDetailActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MyApplication.java
  languageLearning/app/src/main/java/com/example/languageLearning/NewEssayActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/UploadEssayActivity.java
Labels: Android, Bug Fix

#275 Uploading essays from content providers is now supported
  languageLearning/app/src/main/java/com/example/languageLearning/UploadEssayActivity.java
Labels: Android, Bug Fix

#281 Android issue225 change language
  languageLearning/app/build.gradle
  languageLearning/app/src/main/AndroidManifest.xml
  languageLearning/app/src/main/java/com/example/languageLearning/BridgeActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/ImageEssayDetailActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/LeaveRatingActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MainMenuActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MyApplication.java
  languageLearning/app/src/main/java/com/example/languageLearning/ProfilePage.java
  languageLearning/app/src/main/java/com/example/languageLearning/ProfilePageActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/TextEssayDetailActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/UserProfile.java
  languageLearning/app/src/main/res/layout/activity_bridge.xml
  languageLearning/app/src/main/res/layout/activity_essay_detail_loading.xml
  languageLearning/app/src/main/res/layout/activity_image_essay_detail_loaded.xml
  languageLearning/app/src/main/res/layout/activity_leave_rating.xml
  languageLearning/app/src/main/res/layout/activity_profile_page.xml
  languageLearning/app/src/main/res/layout/activity_text_essay_detail_loaded.xml
  languageLearning/app/src/main/res/layout/essay_detail_header.xml
  languageLearning/app/src/main/res/layout/profile_comment.xml
Labels: Android, New Feature, Priority: Medium

#285 Android issue258 new material suggestion
  languageLearning/app/src/main/AndroidManifest.xml
  languageLearning/app/src/main/java/com/example/languageLearning/ExerciseSuggestionActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MainMenuActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/Question.java
  languageLearning/app/src/main/java/com/example/languageLearning/QuestionSuggestionActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/Suggestion.java
  languageLearning/app/src/main/res/layout/activity_exercise_suggestion.xml
  languageLearning/app/src/main/res/layout/activity_question_suggestion.xml
  languageLearning/app/src/main/res/layout/select_exercise_type_popup.xml
Labels: Android, New Feature, Priority: Medium, Status: Review Needed

#288 RegisterActivity now saves native language as all lowercase
  languageLearning/app/src/main/java/com/example/languageLearning/RegisterActivity.java
Labels: Android, Bug Fix, Status: Review Needed

#289 Enhancements to the profile page
  languageLearning/app/src/main/java/com/example/languageLearning/ProfilePageActivity.java
  languageLearning/app/src/main/res/layout/activity_profile_page.xml
Labels: Android

#292 Android issue282 user search
  languageLearning/app/src/main/AndroidManifest.xml
  languageLearning/app/src/main/java/com/example/languageLearning/EssayAdapter.java
  languageLearning/app/src/main/java/com/example/languageLearning/MainMenuActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/UserAdapter.java
  languageLearning/app/src/main/java/com/example/languageLearning/UserSearchActivity.java
  languageLearning/app/src/main/res/layout/activity_search.xml
  languageLearning/app/src/main/res/layout/activity_user_search.xml
  languageLearning/app/src/main/res/layout/search_type_popup.xml
  languageLearning/app/src/main/res/layout/user_element.xml
  languageLearning/app/src/main/res/values/strings.xml
Labels: Android, New Feature, Priority: Medium, Status: Review Needed

#296 recommendation page design
  frontend/src/containers/recommendation/index.js
  frontend/src/containers/writingUpload/index.js
Labels: Frontend, Priority: High, Type: Design

#294 Writing list frontend
  frontend/package-lock.json
  frontend/src/api/writing/ListEssays/index.js
  frontend/src/api/writing/updateEssay/index.js
  frontend/src/containers/WritingList/index.js
  frontend/src/containers/app/index.js
  frontend/src/redux/action-creators/writinglist.js
  frontend/src/redux/actions.js
  frontend/src/redux/reducers/index.js
  frontend/src/redux/reducers/writinglist.js
Labels: Frontend, New Feature, Priority: Medium, Status: Review Needed

#291 Android issue196 chat history
  languageLearning/app/src/main/AndroidManifest.xml
  languageLearning/app/src/main/java/com/example/languageLearning/ChatBubble.java
  languageLearning/app/src/main/java/com/example/languageLearning/ChatHistory.java
  languageLearning/app/src/main/java/com/example/languageLearning/ChatListViewAdapter.java
  languageLearning/app/src/main/java/com/example/languageLearning/ChatMainScreenActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/ChatNewMessageActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MessageAdapter.java
  languageLearning/app/src/main/res/drawable/bubble_in.9.png
  languageLearning/app/src/main/res/drawable/bubble_out.9.png
  languageLearning/app/src/main/res/layout/activity_chat_history.xml
  languageLearning/app/src/main/res/layout/activity_chat_main_screen.xml
  languageLearning/app/src/main/res/layout/activity_chat_new_message.xml
  languageLearning/app/src/main/res/layout/chat_list_view_custom_row.xml
  languageLearning/app/src/main/res/layout/layout_input.xml
  languageLearning/app/src/main/res/layout/left_chat_bubble.xml
  languageLearning/app/src/main/res/layout/right_chat_bubble.xml
Labels: Android, New Feature, Priority: Medium

#298 initiateAPICall now checks if error.getMessage() is null
  languageLearning/app/src/main/java/com/example/languageLearning/MyApplication.java
Labels: Android, Bug Fix

#300 Issue #299
  languageLearning/app/src/main/java/com/example/languageLearning/TextEssayDetailActivity.java
Labels: Android, Bug Fix
