Repository bounswe/bounswe2019group5, pull requests merged in 2019-12, with the labels that each got.

#315 Android issue307 essay request notification
  languageLearning/app/src/main/java/com/example/languageLearning/EssayAdapter.java
  languageLearning/app/src/main/java/com/example/languageLearning/ListEssaysActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MainMenuActivity.java
  languageLearning/app/src/main/res/drawable/notification_active.png
  languageLearning/app/src/main/res/drawable/notification_inactive.png
  languageLearning/app/src/main/res/layout/activity_list_essays.xml
  languageLearning/app/src/main/res/layout/activity_main_menu.xml
Labels: Android, New Feature, Status: Review Needed

#320 Android issue318 essay completed
  languageLearning/app/build.gradle
  languageLearning/app/src/main/java/com/example/languageLearning/AnnotationDialogHelper.java
  languageLearning/app/src/main/java/com/example/languageLearning/ChatBubble.java
  languageLearning/app/src/main/java/com/example/languageLearning/ChatHistory.java
  languageLearning/app/src/main/java/com/example/languageLearning/ChatMainScreenActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/ChatMessage.java
  languageLearning/app/src/main/java/com/example/languageLearning/ImageEssayDetailActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MessageAdapter.java
  languageLearning/app/src/main/java/com/example/languageLearning/MyApplication.java
  languageLearning/app/src/main/java/com/example/languageLearning/TextEssayDetailActivity.java
  languageLearning/app/src/main/res/layout/activity_image_essay_detail_loaded.xml
  languageLearning/app/src/main/res/layout/activity_text_essay_detail_loaded.xml
  languageLearning/app/src/main/res/values/tags.xml
  languageLearning/build.gradle
  languageLearning/photoview/.gitignore
  languageLearning/photoview/build.gradle
  languageLearning/photoview/src/main/AndroidManifest.xml
  languageLearning/photoview/src/main/java/com/github/chrisbanes/photoview/Compat.java
  languageLearning/photoview/src/main/java/com/github/chrisbanes/photoview/CustomGestureDetector.java
  languageLearning/photoview/src/main/java/com/github/chrisbanes/photoview/OnGestureListener.java
  languageLearning/photoview/src/main/java/com/github/chrisbanes/photoview/OnMatrixChangedListener.java
  languageLearning/photoview/src/main/java/com/github/chrisbanes/photoview/OnOutsidePhotoTapListener.java
  languageLearning/photoview/src/main/java/com/github/chrisbanes/photoview/OnPhotoTapListener.java
  languageLearning/photoview/src/main/java/com/github/chrisbanes/photoview/OnScaleChangedListener.java
  languageLearning/photoview/src/main/java/com/github/chrisbanes/photoview/OnSingleFlingListener.java
  languageLearning/photoview/src/main/java/com/github/chrisbanes/photoview/OnViewDragListener.java
  languageLearning/photoview/src/main/java/com/github/chrisbanes/photoview/OnViewTapListener.java
  languageLearning/photoview/src/main/java/com/github/chrisbanes/photoview/PhotoView.java
  languageLearning/photoview/src/main/java/com/github/chrisbanes/photoview/PhotoViewAttacher.java
  languageLearning/photoview/src/main/java/com/github/chrisbanes/photoview/Util.java
  languageLearning/settings.gradle
Labels: Android

#329 Android issue328 essay author annotation
  languageLearning/app/build.gradle
  languageLearning/app/src/main/java/com/example/languageLearning/AnnotationForImageEssay.java
  languageLearning/app/src/main/java/com/example/languageLearning/AnnotationForTextEssay.java
  languageLearning/app/src/main/java/com/example/languageLearning/EssayAdapter.java
  languageLearning/app/src/main/java/com/example/languageLearning/Exercise.java
  languageLearning/app/src/main/java/com/example/languageLearning/ImageEssayDetailActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/ListEssaysActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/Question.java
  languageLearning/app/src/main/java/com/example/languageLearning/TextEssayDetailActivity.java
  languageLearning/app/src/test/java/com/example/languageLearning/JSONUnitTests.java
Labels: Android, New Feature, Status: Review Needed

#326 Android issue312 unit tests
  languageLearning/app/src/main/java/com/example/languageLearning/Exercise.java
  languageLearning/app/src/main/java/com/example/languageLearning/Question.java
  languageLearning/app/src/test/java/com/example/languageLearning/JSONParseUnitTests.java
  languageLearning/app/src/test/java/com/example/languageLearning/JSONUnitTests.java
Labels: Android, Type: Test

#333 Frontend navigation bar
  frontend/src/containers/app/index.js
  frontend/src/containers/app/styles.css
Labels: Frontend, New Feature, Priority: Medium, Status: Review Needed

#334 Android issue303 chat navigation
  languageLearning/app/src/main/AndroidManifest.xml
  languageLearning/app/src/main/java/com/example/languageLearning/AnnotationDialogHelper.java
  languageLearning/app/src/main/java/com/example/languageLearning/ChatListViewActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/ChatLiveScreenActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/ChatMainScreenActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/ChatNewMessageActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/LeaveRatingActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MainMenuActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/ProfilePageActivity.java
  languageLearning/app/src/main/res/drawable/ic_chat_icon.xml
  languageLearning/app/src/main/res/layout/activity_chat_list_view.xml
  languageLearning/app/src/main/res/layout/activity_chat_live_screen.xml
  languageLearning/app/src/main/res/layout/activity_chat_main_screen.xml
  languageLearning/app/src/main/res/layout/activity_chat_new_message.xml
  languageLearning/app/src/main/res/layout/activity_leave_rating.xml
  languageLearning/app/src/main/res/layout/activity_profile_page.xml
Labels: Android, Priority: Medium

#332 User search result design improvement
  languageLearning/app/src/main/java/com/example/languageLearning/UserAdapter.java
  languageLearning/app/src/main/res/layout/user_element.xml
Labels: Android, New Feature, Status: Review Needed

#335 Android issue258 listening suggestion
  languageLearning/app/build.gradle
  languageLearning/app/src/main/AndroidManifest.xml
  languageLearning/app/src/main/java/com/example/languageLearning/ExerciseSuggestionActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/ListeningQuestionSuggestionActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MyApplication.java
  languageLearning/app/src/main/java/com/example/languageLearning/NewEssayActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/UploadEssayActivity.java
  languageLearning/app/src/main/res/drawable/upload.jpeg
  languageLearning/app/src/main/res/layout/activity_question_suggestion.xml
Labels: Android, New Feature, Priority: Medium, Status: Review Needed

#336 Android issue257 listening exercise
  languageLearning/app/src/main/AndroidManifest.xml
  languageLearning/app/src/main/java/com/example/languageLearning/ExerciseActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/ExerciseResultOverviewActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MainMenuActivity.java
  languageLearning/app/src/main/res/drawable/ic_play_icon.xml
  languageLearning/app/src/main/res/layout/activity_exercise.xml
  languageLearning/app/src/main/res/layout/select_exercise_type_popup.xml
Labels: Android, Priority: Medium

#337 Android issue260 app progress
  languageLearning/app/src/main/AndroidManifest.xml
  languageLearning/app/src/main/java/com/example/languageLearning/AppProgress.java
  languageLearning/app/src/main/java/com/example/languageLearning/AppProgressResult.java
  languageLearning/app/src/main/java/com/example/languageLearning/ChatListViewAdapter.java
  languageLearning/app/src/main/java/com/example/languageLearning/MyApplication.java
  languageLearning/app/src/main/java/com/example/languageLearning/ProfilePageActivity.java
  languageLearning/app/src/main/res/layout/activity_app_progress.xml
  languageLearning/app/src/main/res/layout/activity_app_progress_resullt.xml
  languageLearning/app/src/main/res/layout/activity_exercise.xml
  languageLearning/app/src/main/res/layout/activity_profile_page.xml
Labels: Android, New Feature

#347 Android issue341 reading scroll
  languageLearning/app/src/main/java/com/example/languageLearning/ExerciseActivityTestActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MaxHeightScrollView.java
  languageLearning/app/src/main/res/layout/activity_exercise.xml
  languageLearning/app/src/main/res/values/attrs.xml
Labels: Android

#366 Android chat improvements
  languageLearning/.idea/render.experimental.xml
  languageLearning/app/build.gradle
  languageLearning/app/src/main/AndroidManifest.xml
  languageLearning/app/src/main/java/com/example/languageLearning/ChatListViewActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/ChatListViewAdapter.java
  languageLearning/app/src/main/java/com/example/languageLearning/ChatMainScreenActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/ChatSearchActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MainMenuActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/UserSearchActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/UserSearchAdapter.java
  languageLearning/app/src/main/java/com/example/languageLearning/UserSearchItem.java
  languageLearning/app/src/main/res/drawable/circular_button.xml
  languageLearning/app/src/main/res/drawable/ic_message.xml
  languageLearning/app/src/main/res/drawable/ic_message_white.xml
  languageLearning/app/src/main/res/drawable/ic_message_white_48dp.xml
  languageLearning/app/src/main/res/drawable/ic_search_white_24dp.xml
  languageLearning/app/src/main/res/layout/activity_chat_list_view.xml
  languageLearning/app/src/main/res/layout/activity_chat_main_screen.xml
  languageLearning/app/src/main/res/layout/activity_chat_search.xml
  languageLearning/app/src/main/res/layout/activity_user_search_item.xml
  languageLearning/app/src/main/res/layout/chat_list_view_custom_row.xml
  languageLearning/app/src/main/res/layout/custom_toolbar.xml
  languageLearning/app/src/main/res/menu/user_search_menu.xml
  languageLearning/app/src/main/res/values/styles.xml
Labels: Android, Priority: High

#363 Android issue362 layout issues
  languageLearning/app/src/main/res/layout/activity_chat_new_message.xml
  languageLearning/app/src/main/res/layout/activity_main.xml
  languageLearning/app/src/main/res/layout/activity_main_menu.xml
  languageLearning/app/src/main/res/layout/activity_new_essay.xml
  languageLearning/app/src/main/res/layout/activity_profile_page.xml
Labels: Android, Priority: Medium, Status: Revision Needed

#365 User comment and rating
  frontend/package-lock.json
  frontend/src/api/comment/index.js
  frontend/src/containers/profile/index.js
Labels: Frontend, New Feature, Priority: High

#369 Increased request timeout to 10 seconds
  languageLearning/app/src/main/java/com/example/languageLearning/LoginActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MyApplication.java
Labels: Android

#371 Android server issue
  languageLearning/app/src/main/java/com/example/languageLearning/AppProgress.java
  languageLearning/app/src/main/java/com/example/languageLearning/AppProgressResult.java
  languageLearning/app/src/main/java/com/example/languageLearning/MyApplication.java
  languageLearning/app/src/main/res/layout/activity_app_progress_resullt.xml
Labels: Android, Bug Fix, New Feature

#367 Android issue343 search improvements
  languageLearning/app/src/main/java/com/example/languageLearning/SearchActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/SearchResultActivity.java
  languageLearning/app/src/main/res/layout/row.xml
Labels: Android, Bug Fix, New Feature

#373 Android issue280 choose language login
  languageLearning/app/src/main/java/com/example/languageLearning/BridgeActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/LoginActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MainMenuActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/ProfResultActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/RegisterActivity.java
  languageLearning/app/src/main/res/layout/activity_bridge.xml
Labels: Android
