Repository bounswe/bounswe2019group5, pull requests merged in 2019-10, with the labels that each got.

#107 Backend
  .travis.yml
  backend/.gitignore
  backend/Dockerfile
  backend/api/__init__.py
  backend/api/admin.py
  backend/api/apps.py
  backend/api/migrations/0001_initial.py
  backend/api/migrations/__init__.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/tests.py
  backend/api/urls.py
  backend/api/views.py
  backend/backend/__init__.py
  backend/backend/settings.py
  backend/backend/urls.py
  backend/backend/wsgi.py
  backend/docker-compose.yml
  backend/manage.py
  backend/requirements.txt
Labels: Backend, Priority: Medium, Status: Available

#146 Android issue116 registration page
  languageLearning/.idea/.name
  languageLearning/.idea/misc.xml
  languageLearning/app/build.gradle
  languageLearning/app/src/main/AndroidManifest.xml
  languageLearning/app/src/main/java/com/example/languageLearning/LoginActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MyApplication.java
  languageLearning/app/src/main/java/com/example/languageLearning/RegisterActivity.java
  languageLearning/app/src/main/res/layout/activity_main.xml
  languageLearning/app/src/main/res/layout/activity_register.xml
  languageLearning/app/src/main/res/values/strings.xml
Labels: Android, Priority: High, Status: Review Needed, Type: Design

#147 Android issue136 login page
  languageLearning/.idea/misc.xml
  languageLearning/app/build.gradle
  languageLearning/app/src/main/AndroidManifest.xml
  languageLearning/app/src/main/java/com/example/languageLearning/LoginActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MainMenuActivity.java
  languageLearning/app/src/main/res/drawable/logo.png
  languageLearning/app/src/main/res/layout/activity_main.xml
  languageLearning/app/src/main/res/layout/activity_main_menu.xml
  languageLearning/app/src/main/res/layout/login_error_popup.xml
Labels: Android, New Feature, Priority: Medium, Status: Completed

#150 Android issue133 profile page
  languageLearning/app/build.gradle
  languageLearning/app/src/main/AndroidManifest.xml
  languageLearning/app/src/main/java/com/example/languageLearning/ProfilePage.java
  languageLearning/app/src/main/java/com/example/languageLearning/RegisterActivity.java
  languageLearning/app/src/main/res/drawable/circle.xml
  languageLearning/app/src/main/res/drawable/circle_border.xml
  languageLearning/app/src/main/res/drawable/grad.xml
  languageLearning/app/src/main/res/drawable/ic_person.xml
  languageLearning/app/src/main/res/drawable/ic_profil.png
  languageLearning/app/src/main/res/drawable/ic_settings.xml
  languageLearning/app/src/main/res/drawable/ic_user.png
  languageLearning/app/src/main/res/layout/activity_profile_page.xml
  languageLearning/app/src/main/res/values/colors.xml
  languageLearning/app/src/main/res/values/styles.xml
Labels: Android, New Feature, Priority: Medium, Status: Available

#148 get request for proficiency exam complete
  .travis.yml
  backend/.gitignore
  backend/api/admin.py
  backend/api/migrations/0001_initial.py
  backend/api/migrations/__init__.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/tests.py
  backend/api/views.py
Labels: Backend, New Feature, Priority: Medium, Status: Revision Needed

#153 Android issue142 main menu
  languageLearning/app/src/main/java/com/example/languageLearning/LoginActivity.java
  languageLearning/app/src/main/java/com/example/languageLearning/MainMenuActivity.java
  languageLearning/app/src/main/res/drawable/exercises.png
  languageLearning/app/src/main/res/drawable/language.png
  languageLearning/app/src/main/res/drawable/logout.png
  languageLearning/app/src/main/res/drawable/profile_icon.png
  languageLearning/app/src/main/res/layout/activity_main_menu.xml
  languageLearning/app/src/main/res/layout/logout_popup.xml
Labels: Android, New Feature, Priority: Medium, Status: Review Needed

#165 Andriod issue162 prof exam - backend connction
  languageLearning/app/src/main/java/com/example/languageLearning/MyApplication.java
  languageLearning/app/src/main/java/com/example/languageLearning/ProfExamActivity.java
Labels: Android

#175 api documentation
  backend/api/models/user.py
  backend/api/schemas.py
  backend/api/serializers/__init__.py
  backend/api/serializers/comment.py
  backend/api/serializers/language.py
  backend/api/serializers/user.py
  backend/api/templates/redoc.html
  backend/api/templates/swagger-ui.html
  backend/api/test/__init__.py
  backend/api/test/test_exam.py
  backend/api/test/test_user.py
  backend/api/urls.py
  backend/api/views/__init__.py
  backend/api/views/exam.py
  backend/api/views/user.py
  backend/backend/settings.py
  backend/backend/urls.py
  backend/docker-compose.yml
Labels: Backend, Status: Review Needed, Type: Documentation
